body {
    background: rgb(121, 134, 155);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: trebuchet MS, sans-serif;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    background: rgb(46, 92, 132);
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

li {
    font-family: helvetica;
    color: rgb(208, 220, 244);
    font-style: italic;
   
    
}

.phone-image {
    
    border-radius: 10px;
}

tr {
    padding-bottom: 15px;
}

table {
    background: rgb(46, 92, 132);
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

td {
    font-family: helvetica;
    color: rgb(208, 220, 244);
    font-style: italic;
    cursor: pointer;
   
    
}

#sort {
    padding-left: 25px;
}

select {
    min-width: 100px;
}







nav {
    background: rgb(46, 92, 132);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}





main {
    background: rgb(138, 206, 179);
    display: flex;
    border-radius: 10px;
}

nav {
    background: rgb(46, 92, 132);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.search-bar {
    background: rgb(138, 206, 179);
    display: flex;
    border-radius: 10px;
    padding: 20px;
    min-width: 940px;
    font-family: trebuchet MS;
    font-weight: bold;
    font-size: larger;
}

#filter-text {
   padding-right: 25px;
}

#search-text {
    padding-left: 25px;
    padding-right: 25px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 50%; 
    height: 65%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    background-color: rgb(138, 206, 179);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


/* GRID */
.row { width: 100%; margin:0 auto 20px auto; display:inline-block; position:relative; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; margin-right: 2%; }
.row .col-1:last-child, .row .col-2:last-child, .row .col-3:last-child, .row .col-4:last-child, .row .col-5:last-child, .row .col-6:last-child, .row .col-7:last-child, .row .col-8:last-child, .row .col-9:last-child, .row .col-10:last-child, .row .col-11:last-child, .row .col-12:last-child { margin-right: 0; }
.row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.col-1  { width: 6%; }
.col-2  { width: 15%; }
.col-3  { width: 23.5%; }
.col-4  { width: 32%; }
.col-5  { width: 40%; }
.col-6  { width: 49%; }
.col-7  { width: 56.5%; }
.col-8  { width: 66%; }
.col-9  { width: 74%; }
.col-10 { width: 82.5%; }
.col-11 { width: 91%; }
.col-12 { width: 100%;  }